<!-- Footer -->

<footer id="footer">
  <div class="container">
    <a class="footer-links" href="www.twitter.com"><i class="fab fa-twitter"></i></a>
  <a class="footer-links" href="www.facebook.com"><i class="fab fa-facebook-f"></i></a>
  <a class="footer-links" href="www.instagram.com"><i class="fab fa-instagram"></i></a>
  <a class="footer-links" href="mailto:tindog@example.com"><i class="fas fa-envelope"></i></a>
  <p margin="auto">© Copyright 2021 | ConnectKeys Services pvt ltd </p>
</div>
</footer>


</body>
</html>
