<%- include('partials/header') %>

<h1>Employee dashboard</h1>

<p>Welcome <%=name %> </p>

<div class="todays-job" id="">

    <h2>Today's Agenda</h2>
    
    <p>Lorem ipsum dolor sit amet</p>
</div>

<p> <a href="/register-client"> Register a client </a> </p>



<%- include('partials/header') %>
