
<%- include('partials/header') %>



<div class="jumbotron centered ">

  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">PROgress</h1>
    <p class="lead">Track real time progress of jobs assigned!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

</body>
</html>



<%- include('partials/footer') %>
