<%- include('partials/header') %>

<h1>Success</h1>
<script>
         setTimeout(function(){
            window.location.href = "/";
         }, 2000);
      </script>
      <p>Web page redirects after 5 seconds.</p

<%- include('partials/footer') %>
