.partner-home-container{
    padding: 3rem 2.5rem;
}
.greetings{
    margin: 1% 0% 1% 3.5%;
    width: 75%;
}
.dropdown-container{
    width: 25%;
}
.greetings h3{
    font-weight: 600;
    margin-bottom: 0%;
    font-size: 2rem;
}
.greetings p{
    font-size: 0.85rem;
    margin-left: 0.3%;
    font-family: cursive;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.greetings a h5{
    margin-bottom: 0.45%;
}

.dropdown-menu li{
    padding: 2% 3%;
}

#partner-home-header{
    display: flex;
}

.dashboard-heading{
    background-color: white;
    width: 66%;
    padding-left: 2.5%;
    border-radius: 40px;
}


