.partner-home-container{
    padding: 2rem 2rem;
}
.greetings{
    margin: 1% 0% 1% 1.5%;
    width: 75%;
}
.dropdown-container{
    width: 25%;
}
.greetings h3{
    font-weight: 600;
    margin-bottom: 0%;
    font-size: 2rem;
}
.greetings p{
    font-size: 0.85rem;
    margin-left: 0.3%;
}

.greetings a h5{
    margin-bottom: 0.45%;
    padding: ;
}

.dropdown-menu li{
    padding: 2% 3%;
}

#partner-home-header{
    display: flex;
}


